body {
  height: 100vh;
}
.engfont {
  font-family: 'Source Sans Pro', sans-serif;
}
#keyboard {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  direction: rtl;
  box-shadow: 2px 2px 10px;
}

.letter-button {
  margin: 10px 20px;
  font-size: 40px;
  cursor: pointer;
}
#show-word {
  font-size: 50px;
}
 .dropper{
display: flex;
align-items: center;
justify-content: flex-start;
width: 600px;
height: 115px;
background-color: lightblue;
direction: rtl;
padding-right: 20px;
margin: 20px 25% 100px 20px;
font-size: 50px;
}
.wrapper{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: lightyellow;
}
.vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
button {
  cursor: pointer;
  padding: 6px;
  border: none;
  margin: 2px;
  transition: 0.5s all ease;
}
button:hover {
  background-color: tomato;
}
p {
  margin: 0 20px 20px 20px;
}
.title {
  text-align: center;
  font-size: 50px;
}
select {
  padding: 2px;
  border: 5px solid whitesmoke;
}
.controls {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}
.label {
width: 50%;
display: flex;
align-items: center;
justify-content: flex-end;
flex-wrap: wrap;
}
.correct {
  width: 100vw;
  height: 177px;
  background-color:rgba(0, 255, 0, 0.8);
  position: absolute;
  top: 200;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 160px;
}
footer span{
  margin-left: 20px;
  margin-bottom: 30px;
}
#about {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  margin: 0;
  box-shadow: 2px 2px 10px;
}
#about:hover {
  background-color: tomato;
}
.about-text {
  position: absolute;
  background-color:rgba(0, 0, 0, 0.9);
  height: 1500px;
  width: 100%;
  top: 0;
  padding: 100px;
  display: none;
  justify-content: center;
  align-items: flex-start;
}
.text {
  color: white;
  position: relative;
}
i {
  position: absolute;
  top: 0;
  right: 20;
  font-size: 50px;
  cursor: pointer;
  transition: 1s all ease;
  color: white;
}
i:hover {
  color: lightblue;
}
p a {
color: white;
}
.header{
  background-color: lightyellow;
}
footer {
  background-color: lightyellow;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}