.engfont {
  font-family: 'Source Sans Pro', sans-serif;
}
#keyboard {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  direction: rtl;
}

.letter-button {
  margin: 10px 20px;
  font-size: 50px;
  cursor: pointer;
}
#show-word {
  font-size: 50px;
}
 .dropper{
display: flex;
align-items: center;
justify-content: flex-start;
width: 600px;
height: 115px;
background-color: lightblue;
direction: rtl;
padding-right: 20px;
margin: 20px;
font-size: 50px;
}
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
.vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
button {
  cursor: pointer;
  padding: 6px;
  border: none;
  margin: 2px;
  transition: 0.5s all ease;
}
button:hover {
  background-color: tomato;
}
p {
  margin: 10px;
}
.header {
  margin: 10px;
}